*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
body{
    background-color: #f4f6f8;
}


header {
    text-align: center;
    background-color: #1f6fb2;
    color: white;
    padding: 30px 20px;
}
header a{
    text-decoration: none;
    color: white;
    margin: 15px;
}
header nav{
    margin-top: 15px;
    font-size: 20px;
}
header nav a:hover{
    text-decoration: underline;
}
header h1{
    font-size: 40px;
}
section p{
    margin-left: 10px;
}


section{
    background-color: white;
    margin: 30px auto;
    width: 85%;
    border-radius: 10px;
    padding: 20px;
}
section h2{
    color: #1f6fb2;
    margin: 10px;
}
section h3{
    margin: 10px;
}
section ul{
    margin-left: 30px;

}
section a{
    text-decoration: none;
}
section a:hover{
    text-decoration: underline;
}
footer{
    text-align: center;
    color: white;
    background-color: #1f6fb2;
    padding: 15px;
}


